* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: rgba(110, 167, 4, 0.9);
  --secondary: white;
  --tertiary: rgb(205, 205, 216);
  --color1: rgb(13, 35, 235);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary);
  font-size: 1.1rem;
}
.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: var(--color1);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
}
.btn-sub {
  background: var(--primary);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header #timer {
  background: white;
  width: 30px;
  text-align: center;
  padding: 5px 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  height: 400px;
  width: 500px;
  background: var(--secondary);
}
#section {
  margin: 10px 20px;
  flex: 0.6;
}

#section #problem {
  margin-bottom: 20px;
  padding: 10px;
}
#section .choice {
  padding: 10px;
  margin: 5px;
  background: rgb(218, 212, 212);
  cursor: pointer;
  transition: all 100ms ease;
}
#section .choice:hover {
  background: rgb(109, 107, 107);
  color: white;
}
header {
  flex: 0.2;
  background: var(--tertiary);
  box-shadow: 0 1px 5px #333;
}
footer {
  flex: 0.2;
  background: var(--tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.color {
  background: black;
  color: white;
}
