* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: rgba(110, 167, 4, 0.9);
  --secondary: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 500px;
  background: var(--secondary);
}
